<footer>
  <div class="container">
    <section class="footer-grid fullwidth">
      <div class="footer-logo">
        {{ page.footer_logo }}
      </div>
      <div class='footer-spacer'></div>
      <div class="content">
        {{ page.footer_menu }}
      </div>
      <div class='footer-spacer'></div>
      <div class="socials">
        {{ page.footer_links }}
      </div>
    </section>
  </div>
</footer>
